/*Ingredients css*/
.table th{
	text-decoration: underline;
}
.table{
	font-family: 'Play', sans-serif;
	font-weight: bold;
}
.nutriInfo{
	color:black;
	text-decoration: underline;
}
/*Recipes and Products css*/
.ingredient{
	border-width:0px !important;
	float: left;
	font-size: 18px !important;
}
.recName{
	color:#333;
	font-weight: 600;
	font-family: 'Play', sans-serif;
	margin-top:0px;
}
.recipeList{
	font-family: 'Play', sans-serif;
	border: 2px solid #000;
}
.photoCol{
	padding-bottom: 15px;
	padding-top: 15px;
}
.ingCol{
	padding-left: 0px;
}
.tabText{
	font-size: 18px;
}
/*Common*/
.panel{
	border:1px solid #5393C8;
	margin:1px;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 10px;
	margin-left: 0px;
	width: 100%;
}

.centerPic{
	padding-top: 15px;
}

.noPadTop{
	padding-top: 0px;
}

.noPadLeft{
	padding-left: 25px !important;
}

@media (max-width: 768px) {
	div.main{
		margin-top: 42px;
	}	
}
@media (min-width: 768px) {
	.regForm{
		margin-right: 40px !important;
	}	
}
.checkbox-inline{
	margin-left: 10px;
}

.btn{
	margin-top: 5px;
}