<div ng-include="'partials/navbar.html'"></div>
<div>
  <ul class="list-group">
    <li class="list-group-item recipeList" ng-repeat="offer in offersList | orderBy:'+foodId'">
       <div class="container container-fluid">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
              <img ng-src="images/foods/{{offer.foodId}}.png" class="img-responsive centerPic noPadTop" alt="" height="auto" width="60"> </img>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-7">
              <h4>{{offer.offerText}}</h4>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
              <h4><a ng-href="{{offer.url}}" target="_blank">{{offer.text}}</a></h4>
            </div>
        </div> 
    </li>
  </ul>
</div>