<div ng-include="'partials/navbar.html'"></div>
<div>
  <div class="container filterForm">
    <form class="form-horizontal regForm" role="form">
      <div class="form-group has-feedback">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 nPadL">
          <input type="text" class="form-control" id="inputSuccess" ng-model="filter.search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
         <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 nPadL">
          <select class="form-control" ng-model="filter.type">
            <option></option>
            <option>Arroces</option>
            <option>Carnes</option>
            <option>Ensaladas y Verduras</option>
            <option>Legumbres</option>
            <option>Mariscos</option>
            <option>Pastas y Pizzas</option>
            <option>Pescados</option>
            <option>Postres</option>
            <option>Setas y Hongos</option>
            <option>Sopas y cremas</option>
          </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 nPadL">
          <label class="checkbox-inline"><input type="checkbox" ng-model="myProdsChecked" value="">Mis productos</label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 nPadL">
          <label class="checkbox-inline"><input type="checkbox" ng-model="myAllergiesChecked" value="">Filtrar si soy alérgico</label>
        </div>
      </div>
    </form>
  </div>
  <ul class="list-group">
    <li class="list-group-item recipeList" ng-repeat="recipe in recipesList | filter:filter.type | filter:filter.search | filter:myProdsFilter | filter:myAllergiesFilter | orderBy:'+name' ">
      <div class="row" ng-click="showDetails = ! showDetails">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 nPadL">
          <img ng-src="images/icons/{{recipe.type}}.png" class="img-responsive recType" alt="" height="auto" width="30"> </img>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 nPadL">
          <h3 class="recName">{{recipe.name}}</h3>
        </div>
      </div>
      <section class="nPadL" ng-controller="PanelController" ng-show="showDetails">
        <ul class="nav nav-pills recipePills">
          <li ng-class="{active:isSelected(1)}">
            <a class="tabText" href ng-click="selectTab(1)">Presentación</a>
          </li>
          <li ng-class="{active:isSelected(2)}">
            <a class="tabText" href ng-click="selectTab(2)">Ingredientes</a>
          </li>
          <li ng-class="{active:isSelected(3)}">
            <a class="tabText" href ng-click="selectTab(3)">Preparación</a>
          </li>
          <li ng-class="{active:isSelected(4)}">
            <a class="tabText" href ng-click="selectTab(4)">Información</a>
          </li>
        </ul>
        <div class="panel" ng-show="tab===1">
          <div class="container container-fluid">
            <div class="row photoCol">
              <img ng-src="images/recipes/{{recipe.photo}}.png" class="img-responsive" alt="" height="auto" width="auto"> </img>
            </div>
          </div>
        </div>
        <div class="panel" ng-show="tab===2">
          <div class="container container-fluid">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4 class="racion">Para {{recipe.people}} personas</h4>
            </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ingCol">
                <ul class="list-group">
                  <li class="list-group-item ingredient" ng-repeat="ingredient in recipe.ingredients">
                    <kbd class="availIngredient" ng-show="recipe.availableProds.indexOf(ingredient.foodId)!=-1">{{ingredient.dispName}}</kbd>
                    <kbd class="noAvailIngredient" ng-show="recipe.availableProds.indexOf(ingredient.foodId)===-1 && !ingredient.offerUrl">{{ingredient.dispName}}</kbd>
                    <kbd class="noAvailIngredient offerIng" ng-show="recipe.availableProds.indexOf(ingredient.foodId)===-1 && ingredient.offerUrl"><a class="offerUrl" ng-href="{{ingredient.offerUrl}}" target="_blank">{{ingredient.dispName}}</a></kbd>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="panel instructions" ng-show="tab===3">
          <div class="container container-fluid">
            <div class="row">
              <h4>{{recipe.instructions}}</h4>
            </div>
          </div>
        </div>
        <div class="panel" ng-show="tab===4">
          <div class="container container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h4 class="racion">En una ración:</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ingCol">
                  <ul class="list-group">
                    <li class="list-group-item ingredient" ng-repeat="nutri in recipe.nutrInfo">
                      <kbd>{{nutri}}</kbd>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="row" ng-show="recipe.showAller>0">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="racion">Alérgenos:</h4>
              </div>
            </div>
            <div class="row" ng-show="recipe.showAller>0">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 allergensCol">
                  <img ng-show="recipe.cClery" ng-src="images/icons/celery.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cEgg" ng-src="images/icons/eggs.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cFish" ng-src="images/icons/fish.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cGluten" ng-src="images/icons/gluten.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cMilk" ng-src="images/icons/milk.png" class="img-responsive allergyIcon" alt=""recipe height="auto" width="30"> </img>
                  <img ng-show="recipe.cMustard" ng-src="images/icons/mustard.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cNut" ng-src="images/icons/nut.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cPeanuts" ng-src="images/icons/peanuts.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cSesame" ng-src="images/icons/sesame.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cShellFish" ng-src="images/icons/shellfish.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
                  <img ng-show="recipe.cSoy" ng-src="images/icons/soy.png" class="img-responsive allergyIcon" alt="" height="auto" width="30"> </img>
              </div>
            </div>
          </div>
        </div>
      </section>
    </li>
  </ul>
</div>