<div>
  <ul class="list-group">
    <li class="list-group-item recipeList" ng-repeat="recipe in recipesList | orderBy:'+name'">
      <h3 class="recName">{{recipe.name}}</h3>
      <section ng-controller="PanelController">
        <ul class="nav nav-pills">
          <li ng-class="{active:isSelected(1)}">
            <a href ng-click="selectTab(1)">Ingredientes</a>
          </li>
          <li ng-class="{active:isSelected(2)}">
            <a href ng-click="selectTab(2)">Instrucciones</a>
          </li>
          <li ng-class="{active:isSelected(3)}">
            <a href ng-click="selectTab(3)">Detalles</a>
          </li>
        </ul>
        <div class="panel" ng-show="tab===1">
          <h4 class="people">Para {{recipe.people}} personas</h4>
          <ul class="list-group ingredients">
            <li class="list-group-item ingredient" ng-repeat="ingredient in recipe.ingredients">
              <kbd>{{ingredient.dispName}}</kbd>
            </li>
          </ul>
          <div class="container container-fluid">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <p class="instructions">{{recipe.instructions}}</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <img ng-src="images/recipes/large/{{recipe.photo}}.PNG" class="img-responsive" alt=""> </img>
            </div>
        </div>
        <div class="panel" ng-show="tab===2">
          <p>{{recipe.instructions}}</p>
        </div>
        <div class="panel" ng-show="tab===3">
          <p>{{recipe.energy}}</p>
        </div>
      </section>
    </li>
  </ul>
</div>